
.item {
	position: relative;
	padding: 15px 0;
	border-bottom: 1px solid #d4d4d4;
}

.item.isDone .item__message {
	text-decoration: line-through;
	color: #d4d4d4;
}

.item.isDone .item__events i {
	color: #d4d4d4;
}

.item__checkbox {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 40px;
	height: 40px;
}

.item__checkbox label {
	cursor: pointer;
	display: block;
}

.item__checkbox input[type="checkbox"] {
	width: 1px;
	height: 1px;
	visibility: hidden;
}

.item__checkbox input[type="checkbox"]:checked ~ .custom-checkbox:after {
	transform: scale(1) rotate(45deg);
}

.custom-checkbox {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	display: block;
	width: 25px;
	height: 25px;
	border: 1px solid #d4d4d4;
	border-radius: 50%;
}

.custom-checkbox:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 8px;
	width: 6px;
	height: 10px;
	border-bottom: 1px solid green;
	border-right: 1px solid green;
	transform: scale(0) rotate(45deg);
	transition: transform .3s ease;
}


.item__message {
	padding:4px 60px 4px 40px;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Arial';
	word-break: break-all;
}

.item__events {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto 0;
	display: flex;
	align-items: center;
	width: 40px;
	height: 40px;
}

.item__events i {
	margin-left: 10px;
	cursor: pointer;
	transition: color .3s ease;
}
.item__events i:hover {
	color: green;
}

.item__events i.edit-item {
	margin-top: 2px;
}

.item__events i:first-child {
	margin-left: 0;
}
