* {
	box-sizing: border-box;
}

.todo {
	margin: 100px auto;
	padding: 15px 0 0;
	max-width: 700px;
	border: 1px solid #d4d4d4;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .3);
}

.todo-bottom-toolbar {
	padding: 15px 10px;
	display: flex;
	align-items: center;
	border-top: 1px solid #d4d4d4;
}
